
		.checkbox-label {
		   position: relative;
		   overflow: hidden;
		   border-style: solid;
		   border-width:1px;
		}
		.checkbox-label>input[type="checkbox"]{
			position: absolute;
			opacity: 1;
			top: 20px;
			display: none;
		}

		span.fx-checkbox{
			display: block;
			top:0px;
			color: #468fcc;
			font-weight: light;
			padding: 1px;
			float: left;
			position: relative;
		}
		span.fx-checkbox>span{
			float:left;
			margin:1px;
			text-align: center;
		}
		span.fx-checkbox span.glyphicon{
			background-color: #468fcc;
			color: #ffffff;
			top:0px;
			line-height: 20px;
		}

		span.fx-checkbox span:nth-child(1){
			color: #aaaaaa;
		}
		span.fx-checkbox span:nth-child(2){
			background-color: #aaaaaa;
		}

